<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
          id="menu"
        >
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0 text-black">
              <!-- <i class="pi pi-user-minus fs-4 bi-house"></i> -->
              <a
                [routerLink]="[
                  '/home',
                  { outlets: { management: ['students'] } }
                ]"
                class="d-flex nav-link align-middle px-3 text-black"
              >
                <div class="w-25">
                  <i class="pi pi-user-minus fs-4 bi-house"></i>
                </div>
                <span class="ms-1 d-none d-sm-inline ps-4 mb-3"
                  >Students</span
                ></a
              >
            </a>
          </li>
          <li class="nav-item">
            <a
              [routerLink]="[
                '/home',
                { outlets: { management: ['students'] } }
              ]"
              class="d-flex nav-link align-middle px-3 text-black"
            >
              <div class="w-25">
                <i class="pi pi-user-minus fs-4 bi-house mr-4"></i>
              </div>
              <span class="ms-1 d-none d-sm-inline ps-4 mb-3">Professors</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              [routerLink]="[
                '/home',
                { outlets: { management: ['students'] } }
              ]"
              class="d-flex nav-link align-middle px-3 text-black"
            >
              <div class="w-25"><i class="pi pi-book fs-4 bi-house"></i></div>
              <span class="ms-1 d-none d-sm-inline ps-4 mb-3">Courses</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col py-3">
      <div class="d-flex flex-column justify-content-center">
        <router-outlet name="management"></router-outlet>
        <!-- <router-outlet></router-outlet> -->
      </div>
    </div>
  </div>
</div>
